
.button {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;

    width: fit-content;
    padding: .5rem 1rem;
    padding-right: calc(3rem + 1rem);

    text-decoration: none;
    font-weight: bold;
    font-size: 120%;
    color: var(--color-text-btn);

    border: 2px solid var(--color-text-btn);
    background-color: var(--color-bg-btn);

    line-height: 2rem;
    border-radius: 24px;
    cursor: pointer;
}

.button .iconButton {
    background-color: var(--color-text-btn);
    color: var(--color-bg-btn);

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 4px);
    width: 3rem;
    border-radius: 20px;
    right: 2px;
    transition: all 0.3s;
}

.button:hover .iconButton {
    width: calc(100% - 4px);
}

.button:active .iconButton {
    transform: scale(0.95);
}