.conceptSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    gap: 2em;
    padding: 2em;
}

.conceptSection article{ 
    max-width: 600px;
}

.conceptSection h2 {
    font-size: clamp(2rem, 7vw, 5rem);
    font-weight: 600;
    font-style: italic;
}


.conceptSection figure {
    mask-image: url('assets/images/pattern.png');
    -webkit-mask-image: rl('assets/images/pattern.png');
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    width: min(760px, 100%);
    aspect-ratio: 1/1;
    overflow: hidden;
}

.conceptSection figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .conceptSection img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 50%;
    object-fit: cover;
    border-radius:72% 28% 82% 18% / 35% 64% 36% 65%  ;
    box-shadow: 10px 10px 0 #727272;
    
} */