.conceptSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em;
}

.conceptSection article{ 
    max-width: 600px;
}

.conceptSection h2 {
    font-size: clamp(2.5rem, 7vw, 5rem);
    font-weight: 600;
    font-style: italic;
}
.conceptSection p {
    font-size: clamp(1rem, 3vw, 1.3rem);
}

.conceptSection figure {
    mask-image: url('/assets/images/pattern.png');
    -webkit-mask-image: rl('/assets/images/pattern.png');
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    width: min(760px, 100%);
    aspect-ratio: 1/1;
    overflow: hidden;
}

.conceptSection figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 1024px) {
    .conceptSection{
        padding: 2em;
    }
}