.heroSection {
  font-display: auto;
  position: relative;
  color: #fff;
  margin-bottom: 60px;
}

.heroSection::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url('/assets/images/aboutHero.jpg');
  background-position: bottom;
  background-size: cover;

  background-attachment: fixed;

  filter: grayscale(100%) brightness(.3);
  z-index: -1;
}

.colorText {
  display: block;
  position: relative;
  z-index: 0;
  
  
  line-height: 350px;
  font-size: clamp(2rem, 15vw, 15rem);
  font-family: var(--font-display);
  text-align: center;
  text-transform: uppercase;
  
  background-image: url('/assets/images/aboutHero.jpg');
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.badgeContainer {
  position: absolute;
  left: 50%;
  z-index: 800;

  width: min(120px,25vw);

  aspect-ratio: 1/1;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  border: 2px solid #000;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.badgeSvg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.rotatingText {
  animation: rotate 15s linear infinite;
  transform-origin: 100px 100px;
}

.badgeText {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  fill: #0c1a1a;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}