.testimonyCard {
    flex: 0 0 auto;

    background-color: var(--color-surface);
    width: min(400px, 90vw);
    height: 200px;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 10px #00000027;
    transition: .5s;
}

.userInfo {
    display: grid;
    grid-template-columns: min(75px, 20vw) 1fr;
    align-items: center;
    gap: 1rem;
}

.userInfo h4 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
}

.userPicture {
    border-radius: 50%;
    overflow: hidden;
    width: min(75px, 20vw);
    aspect-ratio: 1/1;
}

.userPicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.star {
    font-size: 1.5rem;
}

.starActive {
    color: #ffa600;
}

.starInactive {
    color: #d6d6d6;
}

.testimonyText {
    margin-top: 1rem;
    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}