.pdpContainer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 1em;
    gap: 2em;
    min-height: 90dvh;
    max-width: 1300px;
    margin: auto;
}

.imageSection {
    max-width: 100%;
    aspect-ratio: 1/1;
    background-image: radial-gradient(#f4f4f4, #e9e9e9);
    background-color: #eee;
    border-radius: 1em;
    overflow: hidden;
}

.infoSection {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    width: 100%;
}

.category {
    background-color: color-mix(in srgb, var(--color-primary) 30%, transparent 70%);
    color: var(--color-primary);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
    text-transform: capitalize;
}

.imageSection img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.name {
    font-size: clamp(1.7rem, 3vw, 3rem);
}

.price{
    font-size: 1.2rem;
}

.buyBtn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    
    background-color: var(--color-primary);
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 0;
    border-radius: .5rem;
    cursor: pointer;
    transition: .7s;
}

.buyBtn:hover {
    filter: brightness(.9);
}

.productTrustSection {
    font-size: .8rem;
    color: var(--color-muted);
}

.benefitsList {
    margin-top: 1em;
    list-style: none;
}

.benefitsList li {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1em;
}

.benefitsList svg {
    font-size: 1.2rem;
}

.recommendedProducts h2 {
    font-size: clamp(1.3rem, 3vw, 2rem);
    margin: 1rem;
}

@media screen and (min-width: 1024px) {
    .pdpContainer {
        grid-template-columns: 1.3fr 1fr;
        padding: 2em;
    }
    .recommendedProducts h2 {
        margin: 1rem 2rem;
    }
}