.hero {
    position: relative;
    min-height: 100dvh;
    overflow: hidden;
    background-color: var(--color-primary);
    border-radius: 0 0 2em 2em;
    margin: 2em;
    border-radius: 2em;
}

/* Cidade (fundo) */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/assets/cityHero.png");
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}

/* Texto */
.hero h1 {
    position: sticky;
    top: 10%;

    z-index: 2;

    text-align: center;

    font-family: var(--font-title);
    font-size: clamp(4rem, 12vw, 12rem);
    color: #fff;
    font-weight: normal;
}

/* Pessoa (frente) */
.hero-person {
    position: absolute;
    bottom: 0;
    width: 100dvw;
    z-index: 3;

    /* Gradiente de profundidade */
    background-image:
        linear-gradient(transparent 70%, #020627 100%);
    background-image:  linear-gradient(transparent 30%, #fff);
}

/* Imagem da pessoa */
.hero-person img {
    width: 100%;
    max-width: 1500px;
    display: block;
    object-fit: contain;
    margin: auto;
}