.testimonialsSection {
    background-color: var(--color-surface-secondary);
}

.sectionHeader{
    padding: 1em;
}

.sectionHeader h2 {
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 4rem);
    line-height: 120%;
    font-family: var(--font-display);
    
}

.sectionHeader p {
    text-align: center;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
}

@media screen and (min-width: 1024px) {
    .sectionHeader{
        padding: 2em;
    }
}