.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  
  display: grid;
  align-items: center;
  grid-template-columns: 1fr .5fr 1fr;
  
  width: 100%;
  padding: 0 10px;
  
  background-color: var(--color-surface);
  box-shadow: 0px 0 10px #0000003d;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  margin: auto;
}

.site-header {
  transition: all 0.3s ease;
}


.site-header.hide {
  transform: translateY(-100%);
}

.site-header.show {
  transform: translateY(0);
}

/* --- MOBILE  --- */

.menu {
  position: fixed;
  top: 0%;
  right: 0;
  overflow: hidden;
  width: 0%;
  height: 100vh;
  background: var(--color-surface);
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  transition: width 0.3s ease-in-out;
  box-shadow: -5px 0 15px #0000003d;
}

.site-header.open .menu {
  width:  70%;
  color: #2d2d2d;
}

.dark .site-header.open .menu {
  color: inherit;
}

.nav {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.nav a {
  position: relative;
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 6px;
}

.nav a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4px;
  background: var(--color-primary);
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0.85;
  transition: transform .25s ease-out;
}


.nav a:hover::before {
  transform: scaleX(1);
}


.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1001;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--corTexto);
}

.menu-toggle {
  font-size: 1.8rem;
}

.mobile-theme-btn {
  font-size: 1.2rem;
  margin-top: 1rem;
}



.desktop-theme-btn {
  display: none;
}

.theme-toggle:hover,.menu-toggle:hover{
  color: var(--corTema);
}

/* --- DESKTOP --- */
@media (min-width: 768px) {

  .menu-toggle {
    display: none;
  }

  /*Menu vira barra horizontal */
  .menu {
    position: static;
    width: auto;
    height: auto;
    background: transparent;
    padding: 0;
    box-shadow: none;
    flex-direction: row;
  }

  .nav {
    flex-direction: row;
    gap: 1.5rem;
  }

  .nav a {
    border: none;
  }

  .mobile-theme-btn {
    display: none;
  }

  .desktop-theme-btn {
    display: block;
    font-size: 1.5rem;
  }

  .site-header .overlay {
    all: unset;
  }

  .site-header.open .menu {
    color: inherit;
  }

}