.siteHeader {
  position: sticky;
  top: 0;
  z-index: 900;
  
  display: grid;
  align-items: center;
  grid-template-columns: 1fr .5fr 1fr;

  justify-items: center;
  
  width: 100%;
  padding: 0 10px;
  
  background-color: var(--color-surface);
  box-shadow: 0px 0 10px #0000003d;
  transition: all 0.3s ease;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  margin: auto;
}

.siteHeader.hide {
  transform: translateY(-100%);
}

.siteHeader.show {
  transform: translateY(0);
}

/* --- MOBILE  --- */

.menu {
  position: fixed;
  top: 0%;
  right: 0;
  overflow: hidden;
  width: 0%;
  height: 100vh;
  background: var(--color-surface);
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  transition: width 0.3s ease-in-out;
  box-shadow: -5px 0 15px #0000003d;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.siteHeader.open .menu {
  width:  70%;
  color: #2d2d2d;
}

.nav {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.nav a {
  position: relative;
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 6px;
}

.nav a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4px;
  background: var(--color-primary);
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0.85;
  transition: transform .25s ease-out;
}


.nav a:hover::before {
  transform: scaleX(1);
}


.headerActions {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1001;
}

.menuToggle {
  font-size: 1.8rem;
}

.mobileThemeBtn {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.desktopThemeBtn {
  display: none;
}

.themeToggle:hover,.menuToggle:hover{
  color: var(--corTema);
}



.btnCart {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;

    width: fit-content;
    padding: .5rem;
    padding-left: 3.5rem;

    text-decoration: none;
    color: var(--color-text-btn);

    border: 2px solid var(--color-primary);

    border-radius: 2rem;
    cursor: pointer;
}

.btnCart .iconButton {
    background-color: var(--color-primary);
    color: #fff;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 4px);
    width: 3rem;
    padding: .5em;
    border-radius: 20px;
    left: 2px;
    transition: all 0.3s;
}

.btnCart:hover .iconButton {
    width: calc(100% - 4px);
}

.btnCart:active .iconButton {
    transform: scale(0.95);
}

/* --- DESKTOP --- */
@media (min-width: 768px) {

  .menuToggle {
    display: none;
  }

  /*Menu vira barra horizontal */
  .menu {
    position: static;
    width: auto;
    height: auto;
    background: transparent;
    padding: 0;
    box-shadow: none;
    flex-direction: row;
  }

  .nav {
    flex-direction: row;
    gap: 1.5rem;
  }

  .nav a {
    border: none;
  }

  .mobileThemeBtn {
    display: none;
  }

  .desktopThemeBtn {
    display: block;
    font-size: 1.5rem;
  }

  .siteHeader .overlay {
    all: unset;
  }

  .siteHeader.open .menu {
    color: inherit;
  }

}