.footer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: #fff;
    background-color: #000;
    padding: 2em;
    margin-top: 2em;
}

.top,
.linksContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
}

.top {
    gap: 2em;
    flex-wrap: wrap-reverse;
}

.linksContainer ul {
    list-style: none;
}

.linksContainer a, .top label{
    color: #fff;
    text-decoration: none;
    opacity: .7;
    line-height: 1.5rem;
}

.linksContainer a:hover {
    opacity: 1;
}

.title{
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: .5em;
}

.top form {
    display: flex;
    flex-direction: column;
    width: min(450px, 100%);
}

.top form span {
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
    gap: 0;
    border-bottom: 2px solid #fff;
}

.top form span input {
    all: unset;
    font-size: 1.2rem;
    opacity: .7;
}

.top form span input[type="email"] {
    width: 100%;
}

.top form span button {
    font-size: 1.5rem;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: end;
    text-align: center;
}

.brandContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.brandContainer img {
    width: min(150px, 100%);
    filter: invert(1);
}

.brandContainer h2 {
    font-family: var(--font-display);
    font-size: clamp(3rem, 5vw, 5rem);
}

@media (max-width: 1012px) {
    .bottom {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}
