.overlay {
    transition: background-color 0.3s ease;
    pointer-events: none;
}

.overlayVisible {
    pointer-events: all;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: var(--color-overlay);
}

.cartSidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;

    display: flex;
    flex-direction: column;

    width: min(500px, 100dvw);
    height: 100dvh;

    background-color: var(--color-surface);
    padding: 1em;
    box-shadow: -5px 0 15px #00000079;

    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.cartSidebarVisible {
    transform: translateX(0);
}

.cartSidebar header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #000;
}

.countNumber{
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}

.closeCart{
    cursor: pointer;
    font-weight: 600;
}

.listCart {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}
.listCart::-webkit-scrollbar {
  width: 7px;
}

.listCart::-webkit-scrollbar-track {
  background: transparent;
}

.listCart::-webkit-scrollbar-thumb {
  background-color:var(--color-surface-secondary); 
  border-radius: 20px;  
  transition: background 0.3s ease;
}

.cartItem {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid var(--color-surface-secondary);
    padding: 0.5rem;
}

.cartItem img {
    border-radius: 5px;
    width: min(100px,25vw);
    aspect-ratio: 1/1;
    object-fit: contain;
}

.infoItem{
    display: flex;
    flex-direction: column;
}

.nameItem{
    font-size: 1.2rem;
    font-weight: 600;
}

.cartSidebar footer {
    border-top: 1px solid #000;
    padding: 1rem 0;
}

.cartSidebar footer span {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
}

.priceItem{
    font-weight: 600;
    font-size: 1.2rem;
}

.quantityItem {
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
}

.quantityBtn,.quantityDisabled{
    display: grid;
    place-content: center;
    width: 1rem;
    height: 1rem;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

.quantityDisabled {
    border: 1px solid var(--color-muted);
    color: var(--color-muted);
}


.removeItem{
    margin-left: auto;
    cursor: pointer;
}

.checkoutBnt {
    margin-top: 1rem;
    background-color: #000;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0.1rem;
    transition: .3s;
    cursor: pointer;
}

.checkoutBnt:hover{
    color: var(--color-primary);
    font-weight: bold;
}