

.graffitiSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.graffitiSvg {
  width: 90%;
  max-width: 1000px;
}

.graffitiText {
  font-family: var(--font-display);
  font-size: 140px;

  stroke: #000000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;

  fill: transparent;
}
